@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
  color: black;
}

/**********************************/
/**********************************/
/**********************************/
/**********************************/
/**********************************/
/**********************************/
/**********************************/
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: rgba(170, 170, 168, 0.829);
  height: 150px;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 2px solid blue;
}

.header__img {
  width: 20%;
}

.header__img img {
  width: 100%;
}

.header__right {
  width: 80%;
  padding-bottom: 10px;
}

.header__right h1 {
  text-align: center;
  font-weight: bolder;
}

.nav {
  background-color: #362801;
}

.nav__ul {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.nav__li {
  cursor: pointer;
  color: white;
}

.react-tabs__tab--selected {
  color: white;
  background-color: #530253;
}

.profile__surround {
  background-color: #4b4a4a;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.profile {
  margin-bottom: 20px;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(235, 234, 233, 0.925);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 700px;
}

.profile-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: start;
  width: 60%;
}

.profile-right textarea {
  margin-top: 10px;
  width: 100%;
  height: 100px;
  resize: none;
}

.profile-left {
  margin-left: 20px;
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.profile-left h2 {
  text-align: center;
}

.profile-left img {
  margin-top: 10px;
  border: 1px solid black;
  width: 300px;
  height: 300px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.post-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #4b4a4a;
  min-height: 100vh;
}

.post-form__form {
  margin-bottom: 20px;
  margin-top: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  width: 80%;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(235, 234, 233, 0.925);
}

.post-form textarea {
  margin-top: 10px;
  height: 100px;
  resize: none;
}

.post-form__label {
  padding-top: 10px;
  padding-bottom: 10px;
}

.post-form__input {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
